{% extends "master.html" %}

{% block title %}
  Edificio | {{ block.super }}
{% endblock %}

{% block content %}

<table id="tabla_datos">

  <thead>
    <tr>
      <th>Nombre</th>
      <th>Direccion</th>
      <th>Ciudad</th>
      <th>Tipo</th>
      <th>Opciones</th>
      <th>Departamentos</th>
    </tr>
  </thead>
  {% for e in edificio %}
  <tr>
    <td> {{e.nombre}}</td>
    <td> {{e.direccion}}</td>
    <td> {{e.ciudad}}</td>
    <td> {{e.tipo}}</td>
    <td class="botonesEdificio">
      <a href="{% url 'editar_edificio' e.id %}">
        <button class="editar">EDITAR</button></a>
      <a href="{% url 'eliminar_edificio' e.id %}">
        <button class="eliminar">ELIMINAR</button></a>
    </td>
    <td class="departamentos">
      <ul>
        {% for t in e.edificio_departamento.all %}
          <li>
            <span>
              <strong>Nombre del propietario: </strong>{{t.nombre}} <br><br>
              <strong>Costo: </strong>{{t.costo}} <br><br>
              <strong>Numero de cuartos: </strong>{{t.nCuartos}}<br><br>
              <a href="{% url 'editar_departamento' t.id %}">
                <button class="editar">EDITAR</button></a>
              <a href="{% url 'eliminar_departamento' t.id %}"><button class="eliminar">ELIMINAR</button></a>
              <br><br>              
              <hr style="width: 90%;">
            </span> 
          </li>
        {% endfor %}
      </ul>
  </td>
  </tr>
  {% endfor %}
</table>

<script type="text/javascript">
  $(document).ready( function () {
    $('#tabla_datos').DataTable();
  });
</script>

{% endblock %}
